/*cssreset*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
 body {
    font-family: Whitney, 'Helvetica Neue', Arial, Helvetica, sans-serif;
 }
/*utilis*/

button {
    border: 1px solid transparent;
    border-radius: 29px;
    padding: 10px 15px;
    font-size: 15px;
}

section {
    padding: 80px 0px;
}

.container {
    width: 70%;
    margin: 0 auto;
}


/*header*/
header {
    padding-top: 10px;
    background-color: #265EE8;
}

/*navbar*/
.nav {
    display: flex;
    justify-content: space-between;
    background-color: #265EE8;
    margin: 0 auto;
    margin-bottom: 10px;

}

.side-navbar {
    
    padding: 5px;
    
  }
  
  .left {
    text-align: left;
    height: 30px;
  }
  
  .right {
    text-align: center;
    background-color: white;
    width: 70px;
    padding: 5px;
    border-radius: 17px;
    height: 30px;
  }
  .central-navbar {
    width: 50%;
    text-align: center;
    padding: 5px;
    color: white;
  }


 /*banner*/


.blu-bg {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position-y: top;
    padding: 20px;
    background-repeat: no-repeat;
    min-height: 500px;
}

.banner {
    min-height: 250px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 35px;
    margin-top: 60px;

}

h1 {
    font-size: 50px;
    margin-bottom: 20px;

}


.white-tx {
    color: white;
}

.banner > p {
    font-size: 18px;
}

.banner > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
   
}

.black-tx {
    color: black;
}

.mac {
    background-color: white;
    
}

.discord {
    background-color: black;
}
/* first section*/



.flex {
    display: flex;
    min-height: 400px;

}

.pic {
    width: 60%;
    min-height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%;

}

.frog {
    background-image: url(../img/item1.svg);
}

.channels {
    background-image: url(../img/item2.svg);
}
.text {
    width: 40%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.slogan {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
}


/*second section*/

.grey-bg {
    background-color: lightgrey;
}





/*third section*/

.pen {
    background-image: url(../img/item3.svg);
}

/*green section*/

.big-green {
    
    min-height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.big-green > p, div {
   
    text-align: center;
    

    
}

.call {
    background-image: url(../img/item4-big.svg);
    width: 100%;
    height: 590px;
    background-size: 107%;
    background-repeat: no-repeat;
    background-position: center;
}

.adventure {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    font-size: 25px;
    width: 39%;
    height: 10%;
    background-size: 100%;
}

.opacity {
    background-color: green;
    opacity: 20%;
}
/* vertical section*/

.black-bg {
    background-color: black;
    padding-top: 80px;
    padding-bottom: 20px;
    color: white;

}

li:first-child {
    color: blue;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;

} 

li {
    padding: 10px 0px;
}

.weight {
    font-size: 30px;
    text-align: left;
    font-weight: 700;
}
.flag {
    font-size: 13px;
}

.flag-ita {
    width: 20px;
    vertical-align: middle;
}

.fa-solid {
    font-size: 8px;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 15px;
}



.vertical-red {
    
    min-height: 400px;
    width: 30%;
    flex-grow: 2;
}



.vertical-green{
    
    min-height: 400px;
    width: 20%;
    flex-grow: 1;
    
}

footer {
    background-color: darkgray;
    padding-top: 10px;


}

.foot {
    min-height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

